.App {
  text-align: center;
  padding: 5vh;
  font-family: Verdana;
}

form {
  padding-bottom: 5vh;
}

button {
  border-width: 0;
  font-size: 16px;
  font-family: Verdana;
  font-weight: bold;
  background-color: transparent;
}

input {
  border-width: 0;
  font-size: 18px;
  background-color: transparent;
  border-bottom: 1px solid grey;
}

.container {
}

.location-overview {
  padding: 5vh;
  display: flex;
  flex-direction: row;
  min-height: 300px;
}

.location-details {
  padding-left: 320px;
  text-align: left;
}

.sun-details {
  display: flex;
  flex-direction: row;
}

.sun-tracker {
  width: 240px;
  height: 12px;
  border-bottom: 1px solid grey;
  margin-bottom: 12px;
  position: relative;
}

.sun-marker {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: grey;
  position: absolute;
  margin-top: 9px;
}

.sun {
  font-size: 18px;
  position: absolute;
  top: 0;
  z-index: 20;
}

.weather-overview {
  padding: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
