.App {
  text-align: center;
  padding: 5vh;
  font-family: Verdana;
  background: linear-gradient(blue, dodgerblue);
  color: #eee;
  min-height: 100vh;
}

form {
  padding-bottom: 5vh;
}

button {
  border-width: 0;
  font-size: 16px;
  font-family: Verdana;
  font-weight: bold;
  background-color: transparent;
  color: #eee;
}

input {
  border-width: 0;
  font-size: 18px;
  background-color: transparent;
  border-bottom: 1px solid grey;
  color: #eee;
}

.location-overview {
  padding: 5vh;
  display: flex;
  flex-direction: row;
  min-height: 300px;
}

.location-details {
  padding-left: 320px;
  text-align: left;
}

.sun-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sun-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.weather-icons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 24px;
}

.weather-overview {
  padding: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
